@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message <a href="https://github.com/Adamster/PatternsFun">GitHub</a>  </h3>

    


<address>
    <strong>Support:</strong>   <a href="mailto:Support@darkn3t.tk">Support@darkn3t.tk</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@darkn3t.tk">Marketing@darkn3t.tk</a>
</address>