@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patterns Fun</h1>
    <p class="lead">Intership Project</p>
    <meta name="description" content="patterns fun">
    <p><a href="https://github.com/Adamster/PatternsFun" class="btn btn-primary btn-lg" id="btnAlive">Source code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pilots</h2>

 <button class="btn  btn-default"  > @Html.ActionLink("Show Pilots", "Index", "Pilot")  </button>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <button class="btn  btn-default"> @Html.ActionLink("Show Cars", "Index", "Car")  </button>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>