@{
    ViewBag.Title = "Vehicle";
}
<section class="featured">

    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            <h2>Congratulations you controller is ready!</h2>
        </p>
    </div>
    
   
</section>