@model IEnumerable<Domain.Persons.Pilot>

@{
    ViewBag.Title = "Index";
}

<p></p>
<a href="@Url.Action("Create")" id="pCreatBtn">
    <i class="fa fa-user"> New</i>
</a>
<p></p>

<div id="pilotTableContainer">
    @{
        Html.RenderPartial("PilotTable");
    }
</div>

<div id="createPilot">
    <div id="createPilotForm">
        create pilot test 1
    </div>
</div>

<div id="detailPilot">
    <div id="detailFormPilot">
        pilot detail
    </div>
</div>

<div id="EditPilot">
    <div id="EditPilotForm">
        pilot edit
    </div>
</div>

<div id="DelPilot">
    <div id="delPilotForm"></div>
</div>



@*<table id="PilotJq"></table>
<div id="pilotPage"></div>*@