/*!
	*speedometer.css
	*author: Manivannan R
	*project: Speedometer
*/
.envelope {
    -moz-border-radius: 50%;
    -moz-box-shadow: inset 0 0 5px 5px #000;
	
    -o-border-radius: 50%;
    -o-box-shadow: inset 0 0 5px 5px #000;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: inset 0 0 5px 5px #000;
	
    background: #0F0F0F;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #000;
    position: relative;
}

.speedNobe {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    position: absolute;
    transition: all 1s;
    width: 100%;
    z-index: 10;
}

.speedPosition {
    -moz-border-radius: 50%;
    -moz-box-shadow: 0 0 3px 3px black;
    -o-border-radius: 50%;
    -o-box-shadow: 0 0 3px 3px black;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0 0 3px 3px black;
    background: #191919;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px black;
    color: #FFF;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 80PX;
    position: absolute;
    text-align: center;
}

.fonts {
    font-family: arial;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.speedNobe div {
    background: #48a3cb;
    height: 100%;
    position: absolute;
    top: 0;
}

.numb, .nob {
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    opacity: 0.5;
    position: absolute;
    transition: opacity 1s;
}

.nob {
	
    -moz-box-shadow: 0 0 2px 1px #eee;
    -o-box-shadow: 0 0 2px 1px #eee;
    -webkit-box-shadow: 0 0 2px 1px #eee;
    background: #eee;
    box-shadow: 0 0 2px 1px #eee;
}

.numb {
	
    color: #eee;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    overflow: hidden;
    text-align: left;
}

.nob.bright { opacity: 1; }

.nob.danger {
    -moz-box-shadow: 0 0 2px 1px #FF113A;
    -o-box-shadow: 0 0 2px 1px #FF113A;
    -webkit-box-shadow: 0 0 2px 1px #FF113A;
    background: #FF113A;
    box-shadow: 0 0 2px 1px #FF113A;
}

.numb.bright { opacity: 1; }

.numb.danger { color: #FF113A; }