@model IEnumerable<Domain.CarTypes.Car>

@{
    ViewBag.Title = "Index";
}
<p></p>
<i class="fa fa-automobile fa-2x"></i>
<p></p>
<a href="@Url.Action("Create")" id="CreateBtn">
    <i class="fa fa-plus"> New</i>
</a>

<div id="tableContainer">
   
    @{
        Html.RenderPartial("CarTable");
    }
   
</div>


<div id="test">
    <div id="FormCreation">
        test
    </div>
</div>