
@model IEnumerable<Domain.CarTypes.Car>

@{
    ViewBag.Title = "Index";
}
<p></p>
<i class="fa fa-automobile fa-2x"></i>
<p></p>
<a href="@Url.Action("Create")" id="CreateBtn">
    <i class="fa fa-plus-circle fa-2x"> Create</i>
</a>

<div id="tableContainer">

    @{
        Html.RenderPartial("CarTable");
    }

</div>


<div id="test">
    <div id="content">
        test
    </div>

</div>

<div id="delTest">
    <div id="DeleteForm">
        test del
    </div>
</div>

<div id="editTest">
    <div id="EditForm">
        test edit
    </div>
</div>

<div id="detailTest">
    <div id="detailForm">
        test detail
    </div>
</div>